
params {
    
    project_name="twins_joint_full"
    
    resource_dir="/mnt/references/gatk.broadinstitute.org/hg38"
    
    // Reference genome
    reference_genome = "hg38/Homo_sapiens_assembly38.fasta"


    interval_padding=100
    // This is good for WGS
    interval_list="$projectDir/wgs_calling_regions.hg38.interval_list"
   


    // chromosomes to consider in joint call
    //joint_chromosomes = ["chr1","chr2","chr3","chr4","chr5","chr6","chr7","chr8","chr9","chr10","chr11","chr12","chr13","chr14","chr15","chr16","chr17","chr18","chr19","chr20","chr21","chr22","chrX","chrY"]


    // joint call parameters
    //joint_chromosomes = ["chr2_"]
    //jointcall_lists = ["$projectDir/wgs_calling_regions.hg38.02.interval_list",\
    //		    "$projectDir/wgs_calling_regions.hg38.21.interval_list"]
    

    hapmap_file="hg38/hapmap_3.3.hg38.vcf.gz"
    omni_file="hg38/1000G_omni2.5.hg38.vcf.gz"
    g1000_file="hg38/1000G_phase1.snps.high_confidence.hg38.vcf.gz"
    dbsnp_file="hg38/dbsnp_138.hg38.vcf.gz"
    mills_file="hg38/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
    axiomPoly_file="hg38/Axiom_Exome_Plus.genotypes.all_populations.poly.hg38.vcf.gz"
    

    snp_sensitivity_level="99.5"
    recalibrator_snp_resources = ["hapmap,known=false,training=true,truth=true,prior=15.0 ${hapmap_file}",\
				  "omni,known=false,training=true,truth=false,prior=12.0 ${omni_file}",\
				  "1000G,known=false,training=true,truth=false,prior=10.0 ${g1000_file}",\
				  "dbsnp,known=true,training=false,truth=false,prior=2.0 ${dbsnp_file}"]
    variant_recalibrator_snp_flags="-an QD -an MQRankSum -an ReadPosRankSum -an FS -an MQ -an SOR"

    indel_sensitivity_level="99.0"    
    recalibrator_indel_resources = ["mills,known=false,training=true,truth=true,prior=12 ${mills_file}",\
				    "axiomPoly,known=false,training=true,truth=false,prior=10 ${axiomPoly_file}",\
				    "dbsnp,known=true,training=false,truth=false,prior=2.0 ${dbsnp_file}"]
    variant_recalibrator_indel_flags="-an FS -an ReadPosRankSum -an MQRankSum -an QD -an SOR --max-gaussians 4"
    
    recalibrator_tranches = ["100","99.95","99.9","99.8","99.6","99.5","99.4","99.3","99.0","98.0","97.0","95.0","93.0","90.0"]
        
    
}


process.container = 'labduga/ngs01'
//process.container = 'labduga/vep104_root'
process.scratch = true

docker {
    enabled = true
    fixOwnership = true
}


executor {
    name = 'slurm'
    submitRateLimit = '10 sec'
    //name = 'local'
}

