
params {
    
    project_name="pon_test"  
    

    resource_dir="/mnt/references/gatk.broadinstitute.org/"
    
    // Reference genome
    reference_genome = "gatk.broadinstitute.org/hg38/Homo_sapiens_assembly38.fasta"

    interval_padding=100
    
    // This is good for WGS
    //interval_list="/home/duga/sbottaro/Project/Gemelli/wgs_calling_regions.hg38.interval_list"
    //interval_list="/home/duga/sbottaro/Project/Gemelli/git/test.interval_list"
    interval_list="/home/duga/sbottaro/Project/Gemelli/git/S31285117_Regions.bed"
    pon_lists = ["$projectDir/exome_1.bed","$projectDir/exome_2.bed","$projectDir/exome_3.bed","$projectDir/exome_4.bed","$projectDir/exome_5.bed","$projectDir/exome_6.bed","$projectDir/exome_7.bed","$projectDir/exome_8.bed","$projectDir/exome_9.bed","$projectDir/exome_10.bed","$projectDir/exome_11.bed","$projectDir/exome_12.bed","$projectDir/exome_13.bed","$projectDir/exome_14.bed","$projectDir/exome_15.bed","$projectDir/exome_16.bed","$projectDir/exome_17.bed","$projectDir/exome_18.bed","$projectDir/exome_19.bed","$projectDir/exome_20.bed","$projectDir/exome_21.bed","$projectDir/exome_22.bed","$projectDir/exome_Y.bed","$projectDir/exome_X.bed"]
    
    allele_frequency_file="gatk.broadinstitute.org/Mutect2/af-only-gnomad.hg38.vcf.gz"
    bam_suffix="_bqsr.bam"


}

process {
container = 'labduga/ngs01'
scratch = true
}



docker {
    enabled = true
    fixOwnership = true
}


executor {
    name = 'slurm'
    submitRateLimit = '10 sec'
    //name = 'local'
}

