
params {
    
    project_name="twins_somatic"  
    

    resource_dir="/mnt/references/gatk.broadinstitute.org/"
    
    // Reference genome
    reference_genome = "gatk.broadinstitute.org/hg38/Homo_sapiens_assembly38.fasta"

    interval_padding=100
    // This is good for WGS
    interval_list="/home/duga/sbottaro/Project/Gemelli/wgs_calling_regions.hg38.interval_list"

    
    allele_frequency_file="gatk.broadinstitute.org/Mutect2/af-only-gnomad.hg38.vcf.gz"
    panel_of_normal_file="gatk.broadinstitute.org/Mutect2/hg38_1000g_pon.hg38.vcf.gz"
    pileup_interval="gatk.broadinstitute.org/Mutect2/GetPileupSummaries/small_exac_common_3.hg38.vcf.gz"

    bam_suffix="_bqsr.bam"

    // strelka wants to know if this is an exome or not (values= 'yes'/'no')
    is_exome_strelka='no'
    
    vep_resource_dir="/home/duga/share/vep_data/"
    vep_plugins = ["DisGeNET,file=${vep_resource_dir}/DisGeNET/all_variant_disease_associations_final.tsv.gz",\
    		   "CADD,${vep_resource_dir}/CADD/whole_genome_SNVs.tsv.gz", \
		   "Mastermind,${vep_resource_dir}/Mastermind/mastermind_cited_variants_reference-2021.08.03-grch38.vcf.gz,0,0,1", \
		   "dbNSFP,${vep_resource_dir}/dbNSFP/dbNSFP4.2a_grch38.gz,REVEL_score,REVEL_rankscore,SIFT_pred,FATHMM_pred,PROVEAN_pred,MutationAssessor_pred,VEST4_score,LRT_score,LRT_pred,MutationTaster_pred,Polyphen2_HVAR_pred", \
		   "dbscSNV,${vep_resource_dir}/dbscSNV/dbscSNV1.1_GRCh38.txt.gz" ,\
		   "SpliceAI,snv=${vep_resource_dir}/spliceAI/files/genome_scores_v1.3/spliceai_scores.raw.snv.hg38.vcf.gz,indel=${vep_resource_dir}/spliceAI/files/genome_scores_v1.3/spliceai_scores.raw.indel.hg38.vcf.gz,cutoff=0.5", \
		   "MaxEntScan,${vep_resource_dir}/MaxEntScan/fordownload,SWA"]


}

process {
	container = 'labduga/ngs01'
	withName:vep_annotation {container = 'labduga/vep104_root'}
	scratch = true

}



docker {
    enabled = true
    fixOwnership = true
}


executor {
    name = 'slurm'
    submitRateLimit = '10 sec'
    //name = 'local'
}

